@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.calibre {
    font-family: "Walkman-Chanakya-905"
    }
.calibre1 {
    display: block;
    font-family: "Walkman-Chanakya-905";
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 2%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2%;
    text-align: justify
    }
.calibre2 {
    background: #9A3334;
    display: block;
    line-height: 120%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    opacity: 0.9;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 40%
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: center
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: justify
    }
.calibre6 {
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px
    }
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: list-item
    }
.calibre11 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre12 {
    height: auto;
    max-width: 100%;
    width: 90%
    }
.calibre13 {
    color: #00BFFF;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.calibre14 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre15 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left
    }
.calibre16 {
    color: #F48480;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.calibre17 {
    font-weight: bold
    }
.calibre18 {
    display: block;
    text-align: justify
    }
.calibre19 {
    font-weight: bold;
    text-align: justify
    }
.calibre20 {
    text-align: justify
    }
.calibre21 {
    height: auto;
    max-width: 100%;
    width: auto
    }
.calibre22 {
    height: auto;
    max-width: 100%;
    width: 557px
    }
.calibre23 {
    height: auto;
    max-width: 100%;
    width: 503px
    }
.calibre24 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: right
    }
.calibre25 {
    height: auto;
    max-width: 100%;
    width: 206px
    }
.calibre26 {
    height: auto;
    max-width: 100%;
    width: 203px
    }
.calibre27 {
    height: auto;
    max-width: 100%;
    width: 141px
    }
.calibre28 {
    height: auto;
    max-width: 100%;
    width: 212px
    }
.calibre29 {
    color: #00BFFF;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre30 {
    color: #F48480;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre31 {
    height: auto;
    max-width: 100%;
    width: 841px
    }
.calibre32 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre33 {
    height: auto;
    max-width: 100%;
    width: 630px
    }
.calibre34 {
    height: auto;
    max-width: 100%;
    width: 533px
    }
.calibre35 {
    height: auto;
    max-width: 100%;
    width: 728px
    }
.calibre36 {
    height: auto;
    max-width: 100%;
    width: 187px
    }
.calibre37 {
    height: auto;
    max-width: 100%;
    width: 583px
    }
.calibre38 {
    height: auto;
    max-width: 100%;
    width: 825px
    }
.calibre39 {
    height: auto;
    max-width: 100%;
    width: 335px
    }
.chapter_pos {
    color: #fff;
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 95%
    }
.cover_img_small {
    height: auto;
    max-width: 100%;
    width: 50%
    }
.layout {
    display: block;
    text-align: center
    }
.lining_box {
    border-bottom-color: #F48480;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #F48480;
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: #F48480;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #F48480;
    border-top-style: solid;
    border-top-width: 3px;
    display: block;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px
    }
.lining_box1 {
    border-bottom-color: #F48480;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #F48480;
    border-left-style: solid;
    border-left-width: 3px;
    border-radius: 15px;
    border-right-color: #F48480;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #F48480;
    border-top-style: solid;
    border-top-width: 3px;
    display: block;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px
    }
.red {
    color: #F00;
    font-size: 1em;
    font-style: italic;
    font-weight: bold
    }
.unitheading {
    color: #A9A9A9;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em;
    text-align: justify
    }
.unitheading1 {
    background: #D0AFD3;
    color: #fff;
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: justify
    }

