.calibre {
    font-family: "Walkman-Chanakya-905"
    }
.calibre1 {
    display: block;
    font-family: "Walkman-Chanakya-905";
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    text-align: justify
    }
.calibre2 {
    background: #9A3334;
    display: block;
    line-height: 120%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    opacity: 0.9;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    width: 40%
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: center
    }
.calibre5 {
    color: #A9A9A9;
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.calibre6 {
    background: #D0AFD3;
    color: #fff;
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px
    }
.calibre8 {
    font-weight: bold
    }
.calibre9 {
    font-style: italic
    }
.calibre10 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre11 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre12 {
    display: block;
    line-height: 1.2
    }
.calibre13 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0;
    width: 100%
    }
.calibre14 {
    display: table-row;
    vertical-align: middle
    }
.calibre15 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre16 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre17 {
    height: 273px;
    max-width: 100%;
    width: 432px
    }
.calibre18 {
    height: auto;
    max-width: 100%;
    width: auto
    }
.calibre19 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: right
    }
.calibre20 {
    text-decoration: underline
    }
.calibre21 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre22 {
    text-decoration: line-through
    }
.calibre23 {
    color: rgb(0, 0, 0);
    font-style: normal;
    text-align: justify;
    text-decoration: line-through
    }
.calibre24 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: super
    }
.calibre25 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: left
    }
.calibre26 {
    height: auto;
    max-width: 100%;
    width: 40%
    }
.calibre27 {
    text-align: justify
    }
.calibre28 {
    height: auto;
    max-width: 100%;
    text-align: justify;
    width: auto
    }
.calibre29 {
    font-style: italic;
    line-height: 1.2
    }
.calibre30 {
    height: auto;
    max-width: 100%;
    width: 504px
    }
.calibre31 {
    height: auto;
    max-width: 100%;
    width: 30%
    }
.calibre32 {
    display: block;
    text-align: justify
    }
.calibre33 {
    font-size: 0.75em;
    line-height: normal;
    text-align: justify;
    vertical-align: sub
    }
.caption {
    color: #4D4D4D;
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: center
    }
.chapter_pos {
    color: #fff;
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 95%
    }
.cover_img_small {
    height: auto;
    max-width: 100%;
    width: 50%
    }
.layout {
    display: block;
    text-align: center
    }
.lining_box {
    border-bottom-color: #F48480;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #F48480;
    border-left-style: solid;
    border-left-width: 3px;
    border-radius: 15px;
    border-right-color: #F48480;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: #F48480;
    border-top-style: solid;
    border-top-width: 3px;
    display: block;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px
    }
.red {
    color: #F00;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px
    }
.subheading {
    color: #00BFFF;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px
    }
.subheading1 {
    color: #F48480;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Walkman-Chanakya-905";
    font-style: normal;
    font-weight: bold;
    src: url(OEBPS/Fonts/wcb.ttf)
    }
@font-face {
    font-family: "Walkman-Chanakya-905";
    font-style: italic;
    font-weight: bold;
    src: url(OEBPS/Fonts/wcbi.ttf)
    }
@font-face {
    font-family: "Walkman-Chanakya-905";
    font-style: oblique;
    font-weight: bold;
    src: url(OEBPS/Fonts/wcbi.ttf)
    }
@font-face {
    font-family: "Walkman-Chanakya-905";
    font-style: normal;
    font-weight: normal;
    src: url(OEBPS/Fonts/wcn.ttf)
    }
@font-face {
    font-family: "Walkman-Chanakya-905";
    font-style: italic;
    font-weight: normal;
    src: url(OEBPS/Fonts/wcni.ttf)
    }
@font-face {
    font-family: "Walkman-Chanakya-905";
    font-style: oblique;
    font-weight: normal;
    src: url(OEBPS/Fonts/wcni.ttf)
    }

